<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../styles/style.css" rel="stylesheet">
</head>
<body>
<div class="main">
    <div class="main__left">
        <img class="main__img" width="425px" src="../src/images/img.png"/>
    </div>

    <div class="main__right">
        <h3 class="main__header">
            About me
        </h3>
        </p>
        <p class="main__p">
            I’m John Watson Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
    </div>
</div>
</body>
</html>