<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/PracticalTask1/web/styles/style.css" rel="stylesheet">
</head>
<body>
    <span class="inline-element percent30">
        <img class="img" src="/PracticalTask1//web/src/images/1.png" alt="Изображение не загрузилось">

    </span>
    <span class="inline-element percent70 header">
        <p>
            About me
        </p>
    </span>
    <span class="inline-element text percent70">
         I’m John Watson Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </span>
</body>
</html>