<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Base practice 3</title>
    <link rel="stylesheet" href="../styles/main.css">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
</head>
<body>
    <div class="registration-form">
        <div class="registration-form__header">
            <h1 class="registration-form__header-title">
                Давайте начнем!
            </h1>
        </div>
        <div class="registration-form__main">
            <div class="registration-form__main-first-name">
                <div class="registration-form__main-header">Имя</div>
                <input class="registration-form__main-entry-field" type="text" placeholder="Чендлер">
            </div>
            <div class="registration-form__main-last-name">
                <div class="registration-form__main-header">Фамилия</div>
                <input class="registration-form__main-entry-field" type="text" placeholder="Бинг">
            </div>
            <div class="registration-form__main-gender">
                <div class="registration-form__main-header">Ваш пол</div>
                <input type="radio" name="gender"><label>Женский</label>
                <input type="radio" name="gender"><label>Мужской</label>
            </div>
            <div class="registration-form__main-email">
                <div class="registration-form__main-header">Введите электронный адрес</div>
                <input class="registration-form__main-entry-field" type="email" placeholder="email@gmail.com">
            </div>
            <div class="registration-form__main-password">
                <div class="registration-form__main-header">Придумайте пароль</div>
                <input class="registration-form__main-entry-field" placeholder="Пароль" type="password">
            </div>
            <div class="registration-form__main-accept-rules">
                <input type="checkbox">
                <label class="registration-form__main-accept-rules-text">Я принимаю условия <a class="registration-form__main-accept-rules-link" href="#">Пользовательского соглашения</a> и даю своё согласие на обработку моих персональных данных на условиях, определенных <a class="registration-form__main-accept-rules-link" href="#">Политикой конфиденциальности</a>.
                </label>
            </div>
                <button class="registration-form__main-button">Зарегистрироваться</button>
        </div>
    </div>
</body>
</html>