body {
    margin: 0;
}

.registration-form{
    max-width: 425px;
    height: 765px;
    width: 100%;
    margin: 25px 0 25px 25px;
    box-sizing: border-box;
    box-shadow: 0 0 10px rgba(69, 69, 69, 0.3);
    font-family: 'PT Sans', sans-serif;
}

.registration-form__header{
    padding: 55px 0 10px 0;
}

.registration-form__header-title{
    margin: 0;
    text-align: center;
    font-size: 33px;
    color: #262e73;
}

.registration-form__main{
    margin: 0 0 0 20px;
}

.registration-form__main-header{
    color: #262e73;
    font-size: 14px;
    line-height: 7px;
    padding: 20px 0 10px 0;
}

.registration-form__main-entry-field{
    height: 40px;
    width: 355px;
    font-size: 17px;
    line-height: 11px;
    padding: 0 0 0 18px;
}

.registration-form__main-accept-rules{
    padding: 20px 0 0 0;
    width: 350px;
    font-size: 12px;
    line-height: 14px;
    color: #565d69;
}

.registration-form__main-button{
    border: none;
    margin: 15px 0 0 0;
    width: 370px;
    height: 40px;
    font-size: 17px;
    line-height: 5px;
    background-color: #0bc691;
    color: #ffffff;
    border-radius: 5px;
}


.registration-form__main-accept-rules-link{
    text-decoration: none;
    color: #262e73;
}